/*Body Section*/
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/*Video Layout*/
.embeddedvid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

/*Finishing Touches*/
video {
    max-width: 50%;
    max-height: 50%;
}